<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185596705840-2ta6qjb8o546ks141nsfaif4c9olo802.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185596705840-2ta6qjb8o546ks141nsfaif4c9olo802</string>
	<key>API_KEY</key>
	<string>AIzaSyChe1tGGkPGxPbFEc2c3wIe1KLyrpiRlA8</string>
	<key>GCM_SENDER_ID</key>
	<string>185596705840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dicodingExpert</string>
	<key>PROJECT_ID</key>
	<string>nobar-kuy</string>
	<key>STORAGE_BUCKET</key>
	<string>nobar-kuy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185596705840:ios:49d945df4fbdbdc5e541f5</string>
</dict>
</plist>